* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

html {
    font-size: 62.5%;
}

.weather-section {
    width: 100%;
    height: 100vh;
}

.weather-header {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(11, 175, 250, 0.8), rgb(2, 204, 255), rgb(255, 255, 255, 0.8));
    margin-bottom: 5rem;
}

.weather-heading {
    font-size: 5rem;
    text-align: center;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.2rem #ccc,
    -0.1rem -0.1rem 0.2rem #ccc;
}

.search-city-form {
    width: 30rem;
    margin-bottom: 3rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.search-city-input {
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    color: #303030;
    border-radius: 5px;
    border: 1px solid #555;
    box-shadow: 0.1rem 0.1rem 0.2rem #ccc,
    -0.1rem -0.1rem 0.2rem #ccc;
    transition: box-shadow 0.2s;
}

.search-city-input:focus {
    box-shadow: 0.3rem 0.3rem 0.5rem #ccc,
    -0.3rem -0.3rem 0.5rem #ccc;
}

.current-weather-wrapper {
    text-align: center;
}

.current-location {
    font-size: 4rem;
    font-weight: 400;
    color: #2d2d2d;
}

.current-temperature {
    font-size: 4rem;
    font-weight: 200;
}

.refresh-weather-btn {
    margin-top: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.refresh-weather-btn i {
    font-size: 3rem;
}